@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: rgb(237, 235, 230);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.accordion-element {
  position: relative;
  margin-bottom: 20px;
}

.accordion-element_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-element__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.accordion-element__trigger {
  display: block;
  border-top: 1px solid black;
  cursor: pointer;
}

/* .accordion-element_plus {
  display: none;
} */

.accordion-element_title {
  color: blue;
}

.accordion-element__content {
  padding: 20px;
  border: none;
  display: none;
}

.accordion-element_title,
.title {
  font-family: 'Pacifico', sans-serif;
}

.accordion-element__input:checked ~ .accordion-element__trigger {
  background-color: #eee;
}

.accordion-element__input:checked ~ .accordion-element_wrapper
  .accordion-element_title {
  color: black;
}

.accordion-element__input:checked ~ .accordion-element__content, .accordion-element_image {
  display: flex;
  justify-content: center;
}

.accordion-element__input:checked ~ .accordion-element_wrapper
  .accordion-element_plus {
  transform: rotate(45deg);
}

