@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    padding: 0;
}

/* label {
    width: 100%;
} */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.accordion {}

.accordion-element {
    position: relative;
    margin-bottom: 20px;
}

.accordion-element__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.accordion-element__trigger {
    display: block;
    padding: 20px;
    border: 1px solid black; 
}

.accordion-element__content {
    padding: 20px;
    border: 1px solid black;
    border-top: none;
    display: none;
}


.accordion-element__input:checked ~ .accordion-element__trigger {
    background-color: #eee;
}
.accordion-element__input:checked ~ .accordion-element__content {
    display: flex;
    justify-content: center;
}

